/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url("https://example.com/path-to-your-image.jpg") no-repeat center
    center fixed;
}

form {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #387ce0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1e61c5;
}

p {
  color: red;
  font-size: 14px;
}

a {
  display: block;
  margin-top: 20px;
  color: #1e61c5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.welcome {
  font-size: 40px;
  font-weight: 700;
  color: #1e61c5;
}
.not-found {
  font-size: 20px;
  font-weight: 500;
}
